{% block content %}
<!-- Content goes here -->
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>Perfect Incentive(map)</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- Bootstrap Css -->
    <link href="bootstrap-assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Style -->
    <link href="static/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="static/plugins/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="static/plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
    <link href="static/plugins/Lightbox/dist/css/lightbox.css" rel="stylesheet">
    <link href="static/plugins/Icons/et-line-font/style.css" rel="stylesheet">
    <link href="static/plugins/animate.css/animate.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">
    <!-- Icons Font -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	    <!-- Google Map
	============================================= -->
	
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2385.9319690886236!2d-9.048855984724385!3d53.27283857996372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b96e5c4af853f%3A0x3535a8060a8c257d!2sPortershed!5e0!3m2!1sen!2sie!4v1477417806791" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</head>


{% endblock %}